<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/img/Weather.png" rel="icon">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This is some helpful text.</p>
  </div>
    <!--<h1 style="color:blue;">{{title}}</h1>-->
    <!-- <p>Created by: {{name}}</p> -->
    {{>footer}}
  </body>
</html>
